html{
    font-family: "helvetica neue","Arial","sans-serif";
}
body{
    background-color: white;
    margin: 0;
}
p{
    color: #5d6660;
    font-size: 16px;
    line-height: 24px;
    font-family: "helvetica neue","Arial","sans-serif";
}
header{
    height: 80px;
    background-color: #ffffff;
}
#headercontainer{
    width: 80%;
    margin: auto;
}
.col3{
    width: 33%;
    float: left;
}
.logo{
    margin-top:30px;
}
.menu{
    margin-top:32px;
}
.menu li{
    list-style-type: none;
    display: inline;
    font-size: .85em;
    color:#8e8e8e;
    padding-right: 30px;
    <!--float: left;-->
}
.getstartedbutton{
    background-color: #6dc77a;
    border-radius: 28px;
    color: white;
    text-decoration: none;
    padding: 10px 26px;
    margin-top:20px;
    display: inline-block;
    font-size: 17px;
    float: right;
}

#topsectionmain{
    background-image: url(img/Friends);
    height: 740px;
    border:none;
}
#topsectioncontent{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;   
}
#topsectioncontent h1{
    font-size: 4em;
    font-weight: 300;
    color:white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 100px;
}
#topsectioncontent p{
    font-size: 1.3em;
    font-weight: 400;
    color:white;
    text-align: center;
}
.playbutton{
     margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 80px,0,110px,0;
}
.mainform h6{
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 200;
    color:white;
    text-align: center;
}

.mainform input{
    margin: 0;
    width: 32%;
    height:40px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: :15px;
    font-weight: 100;
    border: none;
}

.mainform button{
    margin: 0;
    width: 30%;
    height:42px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left:15px;
    font-weight: 100;
    border-radius: 20px;
    background-color: #6dc77a;
    color:white;
    border:none;
}

#featuredsection{
    padding-top: 100px;
}
.titleclass{
width: 70%;
text-align: center;
font-weight: 200;
line-height: 1.5em;
margin: auto;
}
.featurcontent{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
}

.featurcontent .col3 img{
    width: 100%;
}
.featurcontent .col3 p{
    font-size:0.9em;
    letter-spacing: 1px;
}
.featurcontent .col3{
    padding:  10px;
    width: 30%;
}
#showcase1-container{
    padding-top: 60px;
    background-color: #f6f8fa;
    width:100%;
    clear:both;
}
.col2{
    float: left;
    width: 48%;
}
.showcase{
    width:80%;
    margin: auto;
    overflow: auto;
}

.scimg{
    width: 100%;
}
.featuretext{
    padding-top: 300px;
    padding-left:50px;
}
.sctitle{
    width: 70%;
    margin:auto;
    font-weight: 200;
    line-height: 1.5em;
}
.scpara{
    width: 70%;
    padding:20px 10px 10px 10px;
    margin: auto;
}
#showcase2-container{
    padding-top: 60px;
    background-color: white;
    width:100%;
    clear:both;
}
.col1{
    width:8-%;
    margin: auto;
    
}
#calltoaction{
    background-image: url(img/Darkdesk);
    background-position: 50% 50%;
    padding-bottom: 45px;
}
.actiontitle{
    font-size: 4em;
    font-weight: 300;
    color:white;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}
.col1 p{
    font-size: 1.6em;
    font-weight: 200;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 100px;
}
.signupbutton{
    background-color: #6dc77a;
    color:white;
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;
    padding: 30px 90px;
    border-style: groove;
}
.signupbutton:hover{
    background-color: #5cbf2a;
}

.signupform{
    background-color: #f6f6fa;
    margin-right: 200px;
    padding: 0px 50px 30px 50px;
}
.signupform h6{
    color: black;
    padding-top: 15px;
    font-size:0.9em;
    text-align: center;
}

.top-margin{
    margin-top: 100px;
    margin-left: 100px;
}
input{
    margin:0;
    width:100%;
    height:50px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight:1000;
    border: none;
    margin-top: 15px;
}
footer{
    background-color: black;
    background-image: url(img/Footerbg);
    clear:both;
    height: 150px;
    background-position: 50% 50%;
}
.socialfooter{
    width: 33%;
    float: left;
    height:40%;
}
.socialfooter:hover{
    background-color: black;
    opacity: 50%;
}
.center{
    width: 50px;
    margin:auto;
    padding-top: 60px;
}
